<div class="peition-content">
  {{#if showMessage}}
    <div class="petition-message">
      {{cookedMessage}}
    </div>
  {{/if}}
  {{petition-status topic.petition_status}}
  {{#if showAction}}
    <div class="petition-actions">
      {{d-button class=actionClasses
                 action="action"
                 label=actionLabel
                 icon=actionIcon}}
    </div>
  {{/if}}
  {{#if showInfo}}
    {{petition-info topic=topic}}
  {{/if}}
</div>
{{#if canUpdateStatus}}
  <div class="petition-staff-actions">
    {{#if showInvalidResolution}}
      <div class="invalid-resolution">
        <label>{{i18n 'petition.resolution.invalid'}}</label>
        {{input type="checkbox" checked=forceResolution}}
        <span>{{i18n 'petition.resolution.force'}}</span>
      </div>
    {{/if}}
    {{#if showAccepted}}
      {{d-button action="updatePetitionStatus"
                 actionParam="accepted"
                 label="petition.accept"
                 class="btn btn-success"
                 icon="check"}}
    {{/if}}
    {{#if showRejected}}
      {{d-button action="updatePetitionStatus"
                 actionParam="rejected"
                 label="petition.reject"
                 class="btn btn-danger"
                 icon="times"}}
    {{/if}}
    {{#if showOpen}}
      {{d-button action="updatePetitionStatus"
                 actionParam="open"
                 label="petition.open"
                 class="btn btn-default"
                 icon="circle-o"}}
    {{/if}}
    {{#if showResolutionAction}}
      {{d-button action="resolve"
                 label="petition.resolution.action"
                 class="btn btn-primary"
                 icon="dot-circle-o"
                 disabled=loading}}
      {{conditional-loading-spinner condition=loading size='small'}}
    {{/if}}
  </div>
{{/if}}
